@import "compass/reset";
@import "compass/utilities/general/clearfix";

@import "./application/layout";

$background-color: #fff;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Helvetica", "Arial", "sans";
  background-color: $background-color;
  color: #3f3f3f;
}

.main-navigation {
  position: fixed;
  width: 20%;
  padding-top: 3%;
}

.content {
  margin-left: 300px;
}

ul.work {
  color: #3f3f3f;
  li {
    width: 70%;
    position: relative;
    section {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 20px;
      width: 100%;
      background-color: rgba(255,255,255,0.8);
      opacity: 0;
      -webkit-transition: opacity 0.25s ease-in-out;
      -moz-transition: opacity 0.25s ease-in-out;
      -o-transition: opacity 0.25s ease-in-out;
      transition: opacity 0.25s ease-in-out;
    }
    &:hover {
      section {
        opacity: 1.0;
      }
    }
  }
}

.home {
  padding-top: 50px;
  margin-left: 20%;
  width: 80%;
}

.text {
  line-height: 1.35;
  padding-top: 50px;
  p {
    margin-bottom: 9px;
  }
  a {
    background-color: #000;
    color: #fff;
    text-decoration: none;
    &:hover {
      background-color: #fff;
      color: #000;
      text-decoration: underline;
    }
  }

}

