!!! 5
%html{ :lang => 'de' }
  %head
    <!--                                                                             -->
    <!--  ________       .__                                __                       -->
    <!-- /   __   \ ____ |  |   ____   _____   ____   _____/  |_  ______             -->
    <!-- \____    // __ \|  | _/ __ \ /     \_/ __ \ /    \   __\/  ___/             -->
    <!--    /    /\  ___/|  |_\  ___/|  Y Y  \  ___/|   |  \  |  \___ \              -->
    <!--   /____/  \___  >____/\___  >__|_|  /\___  >___|  /__| /____                -->
    <!--               \/          \/      \/     \/     \/          \/              -->
    <!--                                                                             -->
    <!-- Made by the fine people at http://9elements.com - and hey if you read this: -->
    <!-- We are always looking for talented ruby and javascript coders.              -->
    <!--                                                                             -->

    %meta{ :charset => "utf-8" }
    %meta{ :http_equiv => "X-UA-Compatible", :content => "chrome=1" }

    /[if IE 7]
      %link{ :rel => "stylesheet", :type => "text/css", :href => "/stylesheets/ie7.css" }
    /[if IE 8]
      %link{ :rel => "stylesheet", :type => "text/css", :href => "/stylesheets/ie8.css" }
    /[if IE 9]
      %link{ :rel => "stylesheet", :type => "text/css", :href => "/stylesheets/ie9.css" }

    %link{ :rel => "stylesheet", :type => "text/css", :href => "/stylesheets/application.css" }
    %script{ :type => "text/javascript", :src => "/scripts/application.js" }
  %body
    %nav.main-navigation
      %ul
        %li
          %a{ href: '/'}
            %img{ src: '/assets/images/logo.png' }
        %li
          %a{ href: '/meinlebenundich.html'}
            %img{ src: '/assets/images/hello.png' }
        %li
          %a{ href: '/pentings.html'}
            %img{ src: '/assets/images/pentings.png' }
        %li
          %a{ href: '/walls.html'}
            %img{ src: '/assets/images/walls.png' }
        %li
          %a{ href: '/video.html'}
            %img{ src: '/assets/images/video.png' }
        %li
          %a{ href: 'http://2ill2chill.bigcartel.com/' }
            %img{ src: '/assets/images/shop.png' }
        %li
          %a{ href: '/contact.html' }
            %img{ src: '/assets/images/contact.png' }
    %section.content
      %ul.work
        %li
          %img{ width: "100%", src: '/assets/images/bio.jpg' }
