!!! 5
%html{ :lang => 'de' }
  %head
    <!--                                                                             -->
    <!--  ________       .__                                __                       -->
    <!-- /   __   \ ____ |  |   ____   _____   ____   _____/  |_  ______             -->
    <!-- \____    // __ \|  | _/ __ \ /     \_/ __ \ /    \   __\/  ___/             -->
    <!--    /    /\  ___/|  |_\  ___/|  Y Y  \  ___/|   |  \  |  \___ \              -->
    <!--   /____/  \___  >____/\___  >__|_|  /\___  >___|  /__| /____                -->
    <!--               \/          \/      \/     \/     \/          \/              -->
    <!--                                                                             -->
    <!-- Made by the fine people at http://9elements.com - and hey if you read this: -->
    <!-- We are always looking for talented ruby and javascript coders.              -->
    <!--                                                                             -->

    %meta{ :charset => "utf-8" }
    %meta{ :http_equiv => "X-UA-Compatible", :content => "chrome=1" }

    /[if IE 7]
      %link{ :rel => "stylesheet", :type => "text/css", :href => "/stylesheets/ie7.css" }
    /[if IE 8]
      %link{ :rel => "stylesheet", :type => "text/css", :href => "/stylesheets/ie8.css" }
    /[if IE 9]
      %link{ :rel => "stylesheet", :type => "text/css", :href => "/stylesheets/ie9.css" }

    %link{ :rel => "stylesheet", :type => "text/css", :href => "/stylesheets/application.css" }
    %script{ :type => "text/javascript", :src => "/scripts/application.js" }
  %body
    %nav.main-navigation
      %ul
        %li
          %a{ href: '/'}
            %img{ src: '/assets/images/logo.png' }
        %li
          %a{ href: '/meinlebenundich.html'}
            %img{ src: '/assets/images/hello.png' }
        %li
          %a{ href: '/pentings.html'}
            %img{ src: '/assets/images/pentings.png' }
        %li
          %a{ href: '#' }
            %img{ src: '/assets/images/shop.png' }
        %li
          %a{ href: '/contact.html' }
            %img{ src: '/assets/images/contact.png' }
    %section.content
      .text
        %p
          Hello there Amigo!
        %p
          I am Mias "the" Zigarettenkünstler aka Jeremihans ''Der Stein'' Radschmied .
          %br
          I am a very magnifique, something around 20, german ARTist/Rapper/Actress from Germany who lives and works in Germany, Germany.
          %br
          If you came here to find out more about me here is the original tru story about my life.
          %br

        %p
          I was born from my mothers vagina into Germany sometime in the 90s.
          %br
          I was on TV once.
          %br
          I have touched a guys dick twice (no homo, but you never know until then).
          %br
          As you can see on this beautiful website I do a lot of paintings and grafics like this.
          %br

        %p
          Jep. But I also have many other interests like turning up on double ancient intriguing hypothesis of life itself or forkin around in the neighborhood with the kotburschikollektivhoverbikecrew light speed crime fighter clerics of mystery in Dungeons of the Northstar so bright.
          %br
          Just to get you some other more or less useful information:
          %br

        %p
          I like mittens (they are a delight), I dont  really like kittens,
          %br
          I am not quite sure what I feel about Kittens with Mittens.
          %br
          And I never saw the Movie ' The Life of Mitty'.
          %br
          Tom Cruise is a Fag. Ravioli.
          %br

        %p
          I hope to see you around here more often and feel free to send me a mail
          %br
          if you want me to paint something for you or if you just want to talk.
          %br

        %p
          Big Hug. Love Love
          %br
          Mias
